/* ***********************
*     ROOTS
*********************** */
:root {
	/**************** colors ****************/
	--primary-color: #fe5c2d;
	--secondary-color: #cfe5e6;
	--accent-color: #b7dfe2;
	--black-color: #333;
	--white-color: #fff;

	/**************** Typography ****************/
	--primary-font: "Bebas Neue", sans-serif;
	--secondary-font: ;
	--fs-xl-2: 6.625rem; /*138px*/
	--fs-xl-1: 5.5rem; /*88px*/
	--fs-xl: 3.75rem; /*66px*/
	--fs-lg: 3.625rem; /*58px*/
	--fs-1: 2.8rem; /*44.8px*/
	--fs-2: 1.8rem; /*28.8px*/
	--fs-3: 1.5rem; /*24px*/
	--fs-4: 1.25rem; /*20px*/
	--fs-5: 1rem; /*16px*/

	--fw-500: 500;
	--fw-700: 700;

	/**************** Shadows ****************/
	--shadow-1: 0 2px 3px hsla(0, 0%, 0%, 0.2);
	--shadow-2: 0 10px 30px -10px var(--sea-green);

	/**************** Border Radius ****************/
	--radius-circle: 50%;
	--radius-15: 15px;
	--radius-12: 12px;
	--radius-10: 10px;
	--radius-6: 6px;
	/**************** Transitions ****************/
	--transition-1: 1.25s ease;
	--transition-2: 0.5s ease;
	--cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}
/* ***********************
*     RESET DEFAULTS
*********************** */
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--secondary-color);
	font-family: var(--primary-font);
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: var(--black-color);
}
img {
	max-width: 100%;
	display: block;
}
button {
	background-color: transparent;
	border: 0;
}
/* ***********************
*     REUSED STYLES
*********************** */
.container {
	max-width: 1440px;
	margin: 0 auto;
}
.img-cover {
	object-fit: cover;
}
.btn {
	letter-spacing: 1.5px;
	display: inline-block;
	font-size: 20px;
	padding: 15px 30px;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--white);
}
.btn-black {
	background-color: var(--black-color);
}
.bg-btn {
	text-align: center;
	min-width: 150px;
	background: url(../images/btnbg.png) no-repeat;
	background-position: bottom 7px left 0px;
}
.text-center {
	text-align: center;
}
.color-span {
	color: var(--primary-color);
}
.section-title {
	margin: 0 auto;
	font-size: var(--fs-xl);
	word-wrap: break-word;
}
.section-text {
	color: #878e8e;
	font-size: var(--fs-4);
}

/* ***********************
*    HEADER STYLES
*********************** */
.overlay {
	display: none;
}
#header {
	padding: 10px 0;
}
.inner-header {
	padding-inline: 20px;
	max-height: 150px;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 1;
}

.close-btn,
.nav-btn {
	display: none;
}
.navbar-list {
	display: flex;
	gap: 25px;
}
.nav-link {
	font-size: var(--fs-4);
}

/* **************************************
*    HERO SECTION STYLES
**************************************/
#hero {
	position: relative;
	top: 0;
	left: 0;
}
#hero .container {
	/* margin-inline: -20px; */
}
.inner-hero {
	margin-block-start: -138px;
	width: 100%;
	height: 700px;
	min-height: -webkit-fill-available;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.left-side {
	padding-left: 90px;
	color: var(--accent-color);
	height: 100%;
	display: flex;
	align-items: center;
	width: 40%;
}
.left-side .lg {
	text-shadow: 1px 1px 2px #33868b;
	width: 50px;
	font-size: var(--fs-lg);
	text-wrap: balance;
}
.right-side {
	color: var(--white-color);
	background-color: var(--primary-color);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60%;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.right-side .xl-2 {
	width: 50px;
	line-height: 1;
	text-shadow: 2px 2px 3px #641803;
	text-wrap: balance;
	font-size: var(--fs-xl-2);
}
.circle li {
	font-size: var(--fs-3);
}

.circle li .round {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 6px;
	background-color: var(--accent-color);
	border-radius: var(--radius-circle);
	vertical-align: middle;
}
.mobile-absolute {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	max-width: 100%;
}
.mobile-absolute img {
	width: 100%;
}

/* **************************************
*    SERVICE SECTION STYLES
**************************************/
.inner-service {
	padding-inline: 20px;
	padding-block-start: 80px;
}
.inner-service h1 {
	padding-block-end: 40px;
	width: 500px;
}
.service-main {
	max-width: 1320px;
	margin: 0 auto;
	background-color: #bee5e7;
	border-radius: 20px;
	padding-block: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.service-box {
	width: 33.33%;
	padding: 40px;
	border-right: 2px solid #93a3a3;
}
.service-box:last-child {
	border-right: none;
}
.service-main img {
	margin: 0 auto;
	max-width: 100%;
}
.service-title {
	font-size: var(--fs-2);
	padding-block: 10px;
}

/* **************************************
*    DIGITAL SECTION STYLES
**************************************/
.inner-digital {
	padding-inline: 20px;
	display: flex;
	align-items: center;
}
.digital-left {
	width: 50%;
}
.digital-right {
	width: 50%;
	margin-block-start: -40px;
}
.inner-digital .section-title {
	padding-block-end: 20px;
}

/* **************************************
*    COMMIT SECTION STYLES
**************************************/
.inner-commit {
	padding-block: 60px;
	padding-inline: 20px;
	display: flex;
	align-items: center;
	gap: 20px;
}
.inner-commit > * {
	flex: 1;
}
.commit-bg {
	position: relative;
}
.play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* **************************************
*    FEATURE SECTION STYLES
**************************************/
.inner-feature {
	padding-inline: 20px;
	padding-block: 60px;
	background-color: #c0e4e6;
}
.inner-feature .section-title {
	width: 70%;
}

.inner-feature .section-text {
	text-align: center;
	margin-inline: auto;
	margin-top: 20px;
	width: 70%;
}
.feature-box {
	margin-top: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.single-feature {
	margin-top: 15px;
	text-align: center;
	display: inline-block;
	min-width: 200px;
	max-width: 220px;
}
.single-feature img {
	margin: 0 auto;
	text-align: center;
}

/* **************************************
*    App SECTION STYLES
**************************************/

.inner-app {
	border: 1px solid red;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 20px;
}
.inner-app > * {
	flex: 1;
}
.app-right {
	display: flex;
	justify-items: center;
	align-items: center;
	justify-content: center;
}
.inner-app .section-text {
	margin-block: 10px;
}
.download-box {
	display: inline-flex;
	gap: 20px;
	margin-top: 20px;
}
.download-inside {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
}
.download {
	font-size: var(--fs-2);
	font-weight: bold;
}

/* **************************************
*    Footer SECTION STYLES
**************************************/
.inner-footer{
	background-color: #c0e4e6;;
	padding: 20px;
}
.top-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bottom-footer {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .bottom-footer {
  }
  .contact-text {
	font-size: var(--fs-3);
	font-weight: bold;
  }
  .contact-phone {
	font-size: var(--fs-1);
	color: var(--black-color);
	font-weight: bold;
  }
  .contact-phone {
  }
  .copy-text {
	font-size: 1rem;
	font-weight: 400;
	font-family: sans;
  }
  .fa-brands {
	min-width: 35px;
	min-height: 35px;
	color: white;
	display: inline-block;
	background-color: black;
	padding: 10px;
	border-radius: 18px;
	text-align: center;
}
